body {
  font-family: Montserrat;
}

.error {
  padding-top: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  position: relative;
}

.error__text {
  z-index: 100;
}

.error__heading {
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: #000000;
  margin-bottom: 48px;
}

.error__description {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  max-width: 650px;
}

.error__log {
  position: absolute;
  font-weight: 700;
  font-size: 500px;
  line-height: 610px;
  width: 1420px;
  top: -70px;
  text-align: right;
  z-index: 1;
  background: linear-gradient(270deg, rgba(8, 0, 153, 1) 0%, rgba(29, 29, 235, 1) 52%, rgba(33, 134, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error__return {
  z-index: 100;
  align-self: center;
}

.error__return a {
  font-weight: 700;
  font-size: 28px;
  text-decoration-line: underline;
  color: #000000;
  position: relative;
}

.error__return a::before {
  content: '>';
  font-size: 28px;
  position: absolute;
  right: -40px;
  top: 55%;
  transform: translateY(-50%);
}