@media (min-width: 320px) and (max-width: 575.2px) {

  .container {
    max-width: 320px;
    padding: 0 0px;
  }

  .main-links {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .heading {
    font-size: 24px;
    text-align: center;
  }

  .head__heading {
    margin-bottom: 20px;
  }

  .description {
    font-size: 10px;
  }

  .head__description {
    margin-bottom: 24px;
  }

  .card {
    padding: 15px 20px;
  }

  .title-box {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-size: 20px;
    line-height: 120%;
  }

  .cards__title {
    margin-bottom: 20px;
    max-width: 185px;
  }

  .key {
    font-size: 10px;
    padding: 4px 8px;
    top: 14px;
    left: 20px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .signature {
    font-size: 10px;
    line-height: 160.9%;
  }

  .card__signature {
    margin-bottom: 20px;
  }

  .card__money {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .card__btn {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.05em;
    padding: 10px 40px;
  }

  .cards_website {
    margin-bottom: 20px;
  }

  .cards_design {
    margin-bottom: 20px;
  }

  .cards__body_website {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 265px);
  }

  .cards__body_design {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 241px);
  }

  .cards__body_design>.card {
    justify-content: center;
  }

  .cards__body_seo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 230px);
  }

  .card_tilda {
    padding: 13px 20px;
  }

  .card_tilda>.card__money {
    line-height: 10px;
    margin-bottom: 18px;
  }

  .design-card-box>.signature {
    margin-bottom: 35px;
  }

  .logo-card-box>.signature {
    margin-bottom: 35px;
  }
}

@media (min-width: 576px) and (max-width: 772px) {
  .container {
    max-width: 576px;
    padding: 0 50px;
  }

  .cards>.container {
    padding: 0 90px;
  }

  .main-links {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .heading {
    font-size: 48px;
    text-align: center;
  }

  .head__heading {
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
  }

  .head__description {
    margin-bottom: 32px;
  }

  .card {
    padding: 28px 25px;
  }

  .title-box {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .cards__title {
    margin-bottom: 32px;
  }

  .key {
    font-size: 16px;
    padding: 8px 15px;
    top: 30px;
    left: 20px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .signature {
    font-size: 16px;
    line-height: 160.9%;
  }

  .card__signature {
    margin-bottom: 43px;
  }

  .card__money {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
  }

  .card__btn {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.05em;
    padding: 20px 50px;
  }

  .cards_website {
    margin-bottom: 50px;
  }

  .cards_design {
    margin-bottom: 50px;
  }

  .cards__body_website {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 460px);
  }

  .cards__body_design {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 400px);
  }

  .cards__body_design>.card {
    justify-content: center;
  }

  .cards__body_seo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 380px);
  }
}

@media (min-width: 773px) and (max-width: 992px) {
  .container {
    max-width: 773px;
    padding: 0 20px;
  }

  .main-links {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .heading {
    font-size: 48px;
    text-align: center;
  }

  .head__heading {
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
  }

  .head__description {
    margin-bottom: 32px;
  }

  .card {
    padding: 20px 20px;
  }

  .title-box {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .cards__title {
    margin-bottom: 32px;
  }

  .key {
    font-size: 16px;
    padding: 8px 15px;
    top: 30px;
    left: 20px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .signature {
    font-size: 16px;
    line-height: 160.9%;
  }

  .card__signature {
    margin-bottom: 43px;
  }

  .card__money {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
  }

  .card__btn {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.05em;
    padding: 15px 40px;
  }

  .cards_website {
    margin-bottom: 50px;
  }

  .cards_design {
    margin-bottom: 50px;
  }

  .cards__body_website {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 450px);
  }

  .cards__body_design {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 400px);
  }

  .cards__body_design>.card {
    justify-content: center;
  }

  .cards__body_seo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 410px);
  }
}

@media (min-width: 993px) and (max-width: 1465px) {
  .container {
    max-width: 993px;
    padding: 0 20px;
  }

  .main-links {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .heading {
    font-size: 52px;
  }

  .head__heading {
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
  }

  .head__description {
    margin-bottom: 50px;
  }

  .card {
    padding: 20px 20px;
  }

  .title-box {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-size: 42px;
    line-height: 44px;
  }

  .cards__title {
    margin-bottom: 32px;
  }

  .key {
    font-size: 16px;
    padding: 8px 15px;
    top: 30px;
    left: 20px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .signature {
    font-size: 16px;
    line-height: 160.9%;
  }

  .card__signature {
    margin-bottom: 43px;
  }

  .card__money {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
  }

  .card__btn {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.05em;
    padding: 13px 50px;
  }

  .cards_website {
    margin-bottom: 50px;
  }

  .cards_design {
    margin-bottom: 50px;
  }

  .cards__body_website {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
  }

  .cards__body_design {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 400px);
  }

  .cards__body_design>.card {
    justify-content: center;
  }

  .cards__body_seo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 410px);
  }

  .footer__row {
    justify-content: center;
    align-items: center;
  }

  .footer__pk {
    margin-left: 0;
  }
}