.container {
  max-width: 1420px;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #000000;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #000000;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.signature {
  font-weight: 500;
  font-size: 16px;
  line-height: 160.9%;
  color: #000000;
  opacity: 0.6;
}

.main-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 64px;
}
.checkbox {
  margin: 0px 0;
}
.checkbox .checkbox-label {
  position: relative;
  display: block;
  height: 14px;
  width: 40px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
}
.checkbox .checkbox-label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #d6d6d6;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: "";
}
.checkbox .checkbox-label:active:after {
  -webkit-transform: scale(1.15, 0.85);
      -ms-transform: scale(1.15, 0.85);
          transform: scale(1.15, 0.85);
}
.checkbox .checkbox-input {
  display: none;
}
.checkbox .checkbox-input:checked ~ label {
  background: #5e25c8;
}
.checkbox .checkbox-input:checked ~ label:after {
  left: 20px;
  background: #401987;
}
.checkbox .checkbox-input:disabled ~ label {
  background: #d6d6d6;
  pointer-events: none;
}
.checkbox .checkbox-input:disabled ~ label:after {
  background: #bcbcbc;
}

