body {
  scroll-behavior: smooth;
}

%blackbtn {
  padding: 18px 24px 18px 24px;
  border: 1px solid #000000;
  border-radius: 105px;
  background-color: white;
  // text
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  transition: all 0.5s ease;

  &:hover {
    background-color: black;
    color: white;
  }

  &:active {
    background-color: gray;
    color: white;
    border: 1px solid gray;
  }
}

.burger {
  display: none;
}

%bluebtn {
  display: inline-block;
  padding: 25px 105px;
  background: #5e25c8;
  border-radius: 105px;
  // text
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #ffffff;
  transition: all 0.5s ease;

  &:hover {
    background: #7644d3;
  }

  &:active {
    background: #5800ff;
  }
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}


.works {
  overflow: hidden;
  position: relative;
  background: linear-gradient(324.17deg,
      #6b53fc -7.48%,
      rgba(233, 13, 246, 0.168728) 141.77%,
      rgba(255, 0, 245, 0.0208333) 141.78%);

  &__row {
    display: flex;
    margin-left: -40px;
    margin-top: 100px;

    &_first-column {}

    &_two-column {}
  }

  &__first-card {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-right: 50px;

    h3 {
      max-width: 585px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 100.9%;
      /* or 65px */

      color: #ffffff;
    }
  }

  &__second-card {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  &__card-second {
    position: relative;

    &_content {}

    &_img {
      img {
        max-width: 750px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 160px;
      left: 120px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__three-card {
    margin-right: 10px;
  }

  &__card-three {
    &_content {}

    &_img {
      img {
        max-width: 750px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 190px;
      left: 190px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__four-card {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  &__card-four {
    &_content {}

    &_img {
      img {
        max-width: 750px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 160px;
      left: 160px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__five-card {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  &__card-five {
    &_content {}

    &_img {
      img {
        max-width: 750px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 190px;
      left: 80px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__six-card {
    margin-left: 10px;
  }

  &__card-six {
    &_content {}

    &_img {
      img {
        max-width: 750px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 140px;
      left: 185px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    a {
      display: inline-block;
      border: 1px solid #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 105px;
      padding: 23px 64px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.05em;
      transition: all 1s ease;
      color: #ffffff;

      &:hover {
        background-color: white;
        color: #6b53fc;
      }
    }
  }
}

.scrollTop {
  position: absolute;
  top: 100px;
  right: 50px;

  img {
    animation: arrow 2s infinite ease alternate;
  }

  &:hover {
    cursor: pointer;
  }
}

.hidden-image {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 1px;
  z-index: 10;
  width: 750px;
  height: 500px;

  background-color: black;
}

.hidden-image-two {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 10;
  width: 750px;
  height: 400px;

  background-color: black;
}