body {
  scroll-behavior: smooth;
}

.form__cont_req {
  margin-bottom: 50px;
}


%blackbtnMob {
  padding: 18px 24px 18px 24px;
  border: 1px solid #000000;
  border-radius: 105px;
  background-color: white;
  // text
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  transition: all 0.5s ease;

  &:hover {
    background-color: black;
    color: white;
  }

  &:active {
    background-color: gray;
    color: white;
    border: 1px solid gray;
  }
}

%bluebtnMob {
  display: inline-block;
  padding: 25px 105px;
  background: #5e25c8;
  border-radius: 105px;
  // text
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #ffffff;
  transition: all 0.5s ease;

  &:hover {
    background: #7644d3;
  }

  &:active {
    background: #5800ff;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.header {
  overflow: hidden;
  position: relative;

  // .header__row
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .header__row_logo
    &_logo {
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 24px;

        color: #000000;
      }
    }

    // .header__row_menu
    &_menu {
      display: none;
      width: 552px;

      ul {
        display: flex;
        flex-direction: column;

        li {
          a {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            color: #000000;
            opacity: 0.7;
            transition: opacity 0.4s ease;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    // .header__row_button
    &_button {
      display: none;

      a {}
    }
  }
}

.ul-menu {
  display: flex;
  justify-content: space-between;
}

// бургер старт
.burger {
  display: block;
  top: 0px;
  padding-top: 150px;
  transition: all 1s ease;
  right: -1000px;
  text-align: center;
  position: fixed;
  width: 300px;
  height: 100%;
  z-index: 101;
  background-color: white;
}

.burger-title {
  margin-bottom: 20px;

  a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
  }
}

.burger-menu {
  ul {
    li {
      margin-bottom: 10px;

      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #000000;
        opacity: 0.7;
        transition: opacity 0.4s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.range {
  transition: all 1s ease;
  right: 0px;
}

.burger-btn {
  z-index: 28;

  a {
    display: inline-block;
    padding: 10px 38px;
    background: #5e25c8;
    border-radius: 105px;
    // text
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: -0.05em;
    color: #ffffff;
    transition: all 0.5s ease;

    &:hover {
      background: #7644d3;
    }

    &:active {
      background: #5800ff;
    }
  }
}

.header {
  &__row {
    &_burger-btn {
      position: fixed;
      z-index: 36;
      right: 10px;
      top: -10px;
    }
  }
}

#toggle {
  display: none;
}

/**
      Hamburger
    **/
.hamburger {
  position: absolute;
  top: 5.4em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 3em;
  height: 45px;
  z-index: 31;
}

.hamburger div {
  position: relative;
  width: 1.5em;
  height: 3px;
  border-radius: 1px;
  background-color: black;
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}

.firstLine {
  transform: rotate(-45deg);
  z-index: 36;
  top: 6.5px;
  left: 0px;
}

.threeLine {
  z-index: 36;
  display: none;
  transform: rotate(45deg);
}

.secondLine {
  z-index: 36;
  transform: rotate(45deg);
}

// бургер финиш
// header finish
.hello {
  // .hello__row
  margin-top: 30px;
  height: 700px;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    // .hello__row_content
    &_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

    // .hello__row_image
    &_image {
      top: -20px;
      left: 220px;
      position: relative;
    }
  }
}

.content {
  display: flex;

  flex-direction: column;

  // .content__title
  &__title {
    text-align: center;

    h1 {
      max-width: 460px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100.9%;
      /* or 24px */

      text-align: center;
    }
  }

  // .content__discription
  &__discription {
    margin: 0 30px 24px 30px;

    text-align: center;

    p {
      max-width: 444px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 160.4%;
      /* or 22px */

      text-align: center;
    }
  }

  // .content__button
  &__button {
    text-align: center;

    a {
      padding: 25px 97px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 16px;
      letter-spacing: -0.05em;

      color: #ffffff;
    }
  }
}

.image {
  position: relative;

  // .image__first-frame
  &__first-frame {
    position: absolute;
    animation: items 2s infinite ease alternate;
    z-index: 0;
    right: 1px;
    top: 20px;

    img {
      max-width: 450px;
    }
  }

  // .image__second-frame
  &__second-frame {
    position: absolute;
    animation: shadow 2s infinite ease alternate;

    z-index: 0;
    top: 156px;
    right: 305.5px;

    img {
      animation: shadow-cup 2s infinite ease alternate;

      max-width: 450px;
    }
  }

  // .image__three-frame
  &__three-frame {
    position: absolute;
    animation: shadow 2s infinite ease alternate;
    right: 1px;
    top: 20px;
    z-index: -1;

    img {
      max-width: 450px;
    }
  }

  // .image__four-frame
  &__four-frame {
    position: absolute;
    animation: blocks 2s infinite ease alternate;
    right: 1px;
    top: 20px;
    z-index: 0;

    img {
      max-width: 450px;
    }
  }

  // .image__five-frame
  &__five-frame {
    position: absolute;
    animation: cup 2s infinite ease alternate;
    right: 1px;
    top: 20px;
    z-index: 0;

    img {
      max-width: 450px;
    }
  }

  // .image__six-frame
  &__six-frame {
    position: absolute;
    animation: blocks 2s infinite ease alternate;
    right: 1px;
    top: 20px;
    z-index: 0;

    img {
      max-width: 450px;
    }
  }

  &__seven-frame {
    position: absolute;
    animation: blocks 2s infinite ease alternate;
    right: 1px;
    top: 20px;
    z-index: 0;

    img {
      max-width: 450px;
    }
  }
}

@keyframes blocks {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes items {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes shadow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes shadow-cup {
  0% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(0.2);
  }
}

@keyframes cup {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.ab-us__hidden {
  transition: all 1s ease;
  display: block;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160.9%;
  /* or 23px */

  text-align: center;

  color: #ffffff;
}

// about-us
.about-us {
  // .about-us__row
  overflow: hidden;
  background: #1e0972;
  position: relative;
  padding: 60px;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px 20px 0px;
  }

  // .about-us__content
  &__content {

    // .about-us__content_title
    &_title {
      margin-bottom: 36px;

      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100.9%;
        /* or 24px */
        text-align: center;

        color: #ffffff;
      }
    }

    // .about-us__content_discription
    &_discription {
      position: relative;
      text-align: center;
      z-index: 5;

      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160.9%;
        /* or 23px */

        text-align: center;
        padding-top: 20px;
        color: #ffffff;
      }

      p {
        z-index: 5;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 160.9%;
        /* or 23px */

        text-align: center;

        color: #ffffff;
      }
    }
  }

  // .about-us__image
  &__image {
    &_row {
      margin-top: 50px;
      position: relative;
    }
  }
}

.image {
  position: absolute;
  z-index: 0;
  // .image__row

  &__row {

    // .image__row_first
    &_first {
      z-index: 0;
      animation: ab-us1 5s infinite ease alternate;

      img {
        z-index: -1;
        max-width: 350px;
      }
    }

    // .image__row_second
    &_second {
      top: 0px;
      z-index: 0;
      position: absolute;
      animation: ab-us2 3s infinite ease alternate;

      img {
        z-index: -1;
        max-width: 350px;
      }
    }

    // .image__row_three
    &_three {
      img {
        z-index: -1;
        max-width: 350px;
      }

      top: 0px;
      z-index: 0;
      position: absolute;
      animation: ab-us3 5s infinite ease alternate;
    }

    // .image__row_four
    &_four {
      img {
        z-index: -1;
        max-width: 350px;
      }

      top: 0px;
      z-index: 0;
      position: absolute;
      animation: ab-us4 2s infinite ease alternate;
    }

    // .image__row_five
    &_five {
      img {
        z-index: -1;
        max-width: 350px;
      }

      top: 0px;
      z-index: 0;
      position: absolute;
      animation: ab-us5 2s infinite ease alternate;
    }
  }
}

@keyframes ab-us1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes ab-us2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes ab-us3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes ab-us4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes ab-us5 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.ellipse-ab-us-one {
  position: absolute;
  left: -250px;

  img {
    width: 100px;
  }

  bottom: 0px;
  animation: buble-one 5s infinite ease alternate;
}

.ellipse-ab-us-two {
  position: absolute;
  right: -250px;
  animation: buble-two 5s infinite ease alternate;
}

@keyframes buble-one {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes buble-two {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}

// about-us finish
.service {
  overflow: hidden;
  margin-bottom: 30px;

  // .service__header
  &__button {
    margin-top: 5px;
    text-align: center;

    a {
      display: inline-block;
      padding: 20px 30px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 12px;
      letter-spacing: -0.05em;

      color: #000000;
    }
  }

  &__header {
    // .service__header_title
    margin-top: 36px;
    margin-bottom: 36px;

    &_title {
      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 100.9%;
        /* or 24px */

        text-align: center;

        color: #000000;
      }
    }
  }

  // .service__cards
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .service__card
  &__card {
    width: 310px;

    padding: 15px 15px;
    border: 1px solid #666666;
    border-radius: 25px;
    margin-bottom: 25px;

    /* Тени на карточке */
    &_key {
      display: inline-block;
      background: #ebebeb;
      margin-bottom: 32px;

      p {
        padding: 8px 16px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 160.9%;
        /* or 16px */

        color: #000000;
      }
    }

    // .service__card_title
    &_title {
      margin-bottom: 22px;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;

        color: #000000;
      }
    }

    // .service__card_discription
    &_discription {
      height: 80px;
      margin-bottom: 32px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160.9%;
        /* or 16px */

        color: #000000;

        opacity: 0.6;
      }
    }

    // .service__card_price
    &_price {
      margin-bottom: 32px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;

        color: #000000;
      }
    }

    // .service__card_button
    &_button {
      text-align: center;
      margin-bottom: 10px;

      a {
        padding: 20px 58px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.05em;

        color: #ffffff;
      }
    }
  }
}

.visitBG {
  background: url(../image/visitBG.png) center center no-repeat;
}

.lpBG {
  background: url(../image/LPBG.png) center center no-repeat;
}

.mnogoBG {
  background: url(../image/mnogBG.png) center center no-repeat;
}

.seoBG {
  background: url(../image/seoBG.png) center center no-repeat;
}

.tildaBG {
  background: url(../image/tildaBG.png) center center no-repeat;
}

.designBG {
  background: url(../image/designBG.png) center center no-repeat;
}

.works {
  padding: 50px 0px 0px 0px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(324.17deg,
      #6b53fc -7.48%,
      rgba(233, 13, 246, 0.168728) 141.77%,
      rgba(255, 0, 245, 0.0208333) 141.78%);

  &__row {
    display: flex;

    margin-left: 0px;
    margin-top: 36px;
    margin: 0 auto;

    &_first-column {
      margin-left: 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    &_two-column {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
    }
  }

  &__first-card {
    text-align: center;
    margin-left: 40px;

    h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 100.9%;
      /* or 24px */

      text-align: center;

      color: #ffffff;
    }
  }

  &__second-card {
    display: flex;
    justify-content: flex-start;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  &__card-second {
    margin-left: -20px;
    position: relative;
    z-index: 10;

    &_content {}

    &_img {
      img {
        max-width: 350px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 80px;
      left: 70px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__three-card {
    position: relative;
    z-index: 10;
    margin-left: -20px;
    margin-bottom: 20px;
  }

  &__card-three {
    z-index: 10;

    &_content {}

    &_img {
      z-index: 10;

      img {
        max-width: 350px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 80px;
      left: 90px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__four-card {
    position: relative;
    z-index: 10;
    margin-left: -20px;
    margin-bottom: 20px;
  }

  &__card-four {
    z-index: 10;

    &_content {}

    &_img {
      img {
        max-width: 350px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 70px;
      left: 80px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__five-card {
    position: relative;
    z-index: 10;
    margin-left: -20px;
    margin-bottom: 10px;
  }

  &__card-five {
    z-index: 10;

    &_content {}

    &_img {
      img {
        max-width: 350px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 80px;
      left: 45px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__six-card {
    position: relative;
    z-index: 10;
    margin-left: -20px;
  }

  &__card-six {
    &_content {}

    &_img {
      img {
        max-width: 350px;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 50px;
      left: 90px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    a {
      display: inline-block;
      border: 1px solid #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 105px;
      padding: 9px 20px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 29px;
      letter-spacing: -0.05em;
      transition: all 1s ease;
      color: #ffffff;

      &:hover {
        background-color: white;
        color: #6b53fc;
      }
    }
  }
}

.second-card-blur {
  transition: all 0.3s ease;
}

.item {}

.wworkcard {
  transition: all 0.3s ease;
}

.wworktext {
  transition: all 0.4s ease;
}

.three-card-blur {
  transition: all 0.3s ease;
}

.four-card-blur {
  transition: all 0.3s ease;
}

.five-card-blur {
  transition: all 0.3s ease;
}

.ellipse-portfolio-one {
  position: absolute;
  bottom: 1px;
  left: 5px;

  img {
    max-width: 200px;
  }
}

.ellipse-portfolio-two {
  position: absolute;
  top: -50px;
  right: -50px;

  img {
    max-width: 200px;
  }
}

.ellipse-portfolio-three {
  top: 79px;
  left: -73px;
  position: absolute;

  img {
    max-width: 200px;
  }
}

.ellipse-portfolio-four {
  position: absolute;
  top: 332px;
  right: 23px;

  img {
    max-width: 300px;
  }
}

.ellipse-portfolio-five {
  top: 636px;
  left: -3px;
  position: absolute;

  img {
    max-width: 200px;
  }
}

.ellipse-portfolio-six {
  top: 725px;
  left: 33px;
  position: absolute;

  img {
    max-width: 200px;
  }
}

.block {
  transition: all 1s ease;
  display: block;
}

.blur {
  filter: blur(3px);
  transition: all 1s ease;
}

.second-card__blur {
  transition: all 1s ease;
}

.first-card__blur {
  transition: all 1s ease;
}

.three-card__blur {
  transition: all 1s ease;
}

.four-card__blur {
  transition: all 1s ease;
}

.five-card__blur {
  transition: all 1s ease;
}

// stages start
.stages {
  overflow: hidden;
  background: url(../image/stagesBG.png) center center no-repeat;

  &__header {
    // .stages__header_title
    margin-top: 40px;

    &_title {
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 100.9%;
        /* or 24px */

        color: #000000;
      }
    }
  }

  &__cards-slider {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 36px;
  }

  // .stages__cards
  &__cards {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 36px;
  }
}

.stage {
  position: relative;

  // .stage__cards
  &__cards {
    position: absolute;

    // .stage__cards_card
    &_card {
      margin-right: 150px;
      margin-left: 150px;
      filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
      position: relative;
      max-width: 450px;
      height: 225px;
      padding: 60px 35px 40px 50px;
      background: #833ddb;
      border-radius: 10px;
      margin-bottom: 41px;
    }
  }

  // .stage__card
  &__card {

    // .stage__card_number
    &_number {
      position: absolute;
      top: 0px;
      left: 0px;

      p {
        padding: 8px 17px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100.9%;
        /* or 15px */

        color: #000000;
      }
    }

    // .stage__card_title
    &_title {
      margin-bottom: 10px;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100.9%;
        /* or 16px */

        color: #ffffff;
      }
    }

    // .stage__card_discriptiob
    &_discription {
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        /* or 16px */

        color: #ffffff;
      }
    }
  }
}

.question {
  overflow: hidden;
  padding: 20px 0px;
  // .question__row
  background: #f6f7fe;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .question__row_img
    &_img {
      img {
        max-width: 410px;
      }
    }

    // .question__row_form
    &_form {}
  }

  // .question__form
  &__form {

    // .question__form_title
    &_title {
      margin-bottom: 24px;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 100.9%;
        /* or 20px */

        text-align: center;

        color: #000000;
      }
    }

    // .question__form_content
    &_content {
      max-width: 516px;

      form {
        display: flex;
        flex-direction: column;

        input {
          width: 400px;
          margin-bottom: 12px;
          padding: 18px 30px;
          background: #ffffff;
          border: 2px solid #aaaaaa;
          border-radius: 5px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;

          color: #b6b6b6;
        }

        button {
          margin-top: 20px;
          padding: 24px 30px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: -0.05em;

          color: #ffffff;
        }
      }
    }
  }
}

.robots {
  overflow: hidden;
  padding: 38px 0px;

  // .robots__row
  &__row {

    // .robots__row_title
    &_title {
      margin-bottom: 34px;

      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120.4%;
        /* or 24px */

        color: #000000;
      }
    }
  }

  // .robots__tow
  &__tow {

    // .robots__tow_text
    &_text {}
  }

  // .robots__text
  &__text {

    // .robots__text_title
    &_title {
      margin-bottom: 14px;

      h4 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100.9%;
        /* or 20px */

        color: #000000;
      }
    }

    // .robots__text_content
    &_content {
      margin-bottom: 14px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160.9%;
        /* or 23px */

        color: #000000;
      }
    }
  }
}

.links {
  a {
    color: rgba(1, 72, 255, 1);
  }
}

.footer {
  overflow: hidden;
  position: relative;
  padding: 20px 0px 20px 0px;
  // .footer__row
  background: #0e153a;

  &__row {
    display: flex;
    flex-direction: column;
    text-align: center;

    // .footer__row_menu
    &_menu {
      flex-direction: column;
      align-items: center;
      display: flex;
      margin-left: 60px;
    }

    // .footer__row_logo
    &_logo {
      margin-left: -70px;
      margin-bottom: 20px;
      text-align: center;

      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 24px;

        color: #ffffff;
      }
    }

    // .footer__row_email
    &_email {
      margin-left: -20px;

      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;

        color: #ffffff;

        opacity: 0.7;
      }
    }
  }

  // .footer__content
  &__content {
    display: flex;

    flex-direction: column;
  }

  // .footer__pk
  &__pk {
    display: flex;
    margin-left: 200px;
    margin-top: 20px;

    a {
      text-align: center;
      display: inline-block;
      padding: 20px 0px 0px 0px;
      border-top: 1px solid #212749;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 17px;
      text-align: center;

      color: #ffffff;

      opacity: 0.7;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -77px;

  li {
    margin-bottom: 10px;

    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 17px;

      color: #ffffff;

      opacity: 0.7;
    }
  }
}

.scrollTop {
  position: absolute;
  top: 15px;
  right: 15px;

  img {
    animation: arrow 2s infinite ease alternate;
  }

  &:hover {
    cursor: pointer;
  }
}

@keyframes arrow {
  0% {
    transform: scaleY(-10px);
  }

  100% {
    transform: scaleY(10px);
  }
}

.visiblesss {
  transition: all 1s ease;
  display: block;
  transform: scaleY(200px);
  animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ab-us__visibled {
  display: none;
  max-width: 200px;
  left: 217px;
  bottom: -20;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.hidden-320 {
  display: block;
}

.bgcgray {
  display: block;
  top: 0px;
  transition: all 1s ease;
  right: -1000px;

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  background-color: black;
}

.visib {
  position: fixed;
  transition: 1s all ease;
  opacity: 0.3;
  top: 0px;
  display: block;
  left: 0px;
  z-index: 100;
}

.header__row_burger-btn {
  z-index: 35;
}

.header__row_burger-btn {
  display: block;
}

.hidden-image {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 10;
  width: 750px;
  height: 500px;

  background-color: black;
}

.hidden-image-two {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 10;
  width: 750px;
  height: 400px;

  background-color: black;
}