body {
  scroll-behavior: smooth;
}



/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {

  height: 5px;
  width: 5px;


}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(133, 27, 255);

  // border: 1px solid rgb(133, 27, 255);

}

main {
  overflow: hidden;
}

%blackbtn {
  padding: 18px 24px 18px 24px;
  border: 1px solid #000000;
  border-radius: 105px;
  background-color: white;
  // text
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  transition: all 0.5s ease;

  &:hover {
    background-color: black;
    color: white;
  }

  &:active {
    background-color: gray;
    color: white;
    border: 1px solid gray;
  }
}

.burger {
  display: none;
}

%bluebtn {
  display: inline-block;
  padding: 25px 105px;
  background: #5e25c8;
  border-radius: 105px;
  // text
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #ffffff;
  transition: all 0.5s ease;

  &:hover {
    background: #7644d3;
  }

  &:active {
    background: #5800ff;
  }
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.header {

  // .header__row
  &__row {
    margin: 48px 0px 58px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .header__row_logo
    &_logo {
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        color: #000000;
      }
    }

    // .header__row_menu
    &_menu {
      width: 552px;

      ul {
        li {
          a {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            opacity: 0.7;
            transition: opacity 0.4s ease;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    // .header__row_button
    &_button {
      a {
        @extend %blackbtn;
      }
    }
  }
}

.ul-menu {
  display: flex;
  justify-content: space-between;
}

// header finish
.hello {
  overflow: hidden;
  height: 76vh;
  // .hello__row
  margin-top: 100px;

  &__row {
    display: flex;
    justify-content: space-between;

    // .hello__row_content

    &_content {}

    // .hello__row_image

    &_image {
      position: relative;
    }
  }

  // .hello__row_image
  &_image {
    position: relative;
  }
}

.content {

  // .content__title
  &__title {
    max-width: 573px;
    margin-bottom: 24px;

    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 100.9%;
      /* or 81px */
      color: #101010;
    }
  }

  // .content__discription
  &__discription {
    max-width: 573px;
    margin-bottom: 36px;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 140.9%;
      /* or 34px */
      color: #000000;
    }
  }

  // .content__button
  &__button {
    a {
      @extend %bluebtn;
    }
  }
}

.image {
  position: relative;

  // .image__first-frame
  &__first-frame {
    position: absolute;
    animation: items 2s infinite ease alternate;
    z-index: 0;
    right: 1px;

  }

  // .image__second-frame
  &__second-frame {
    position: absolute;
    animation: shadow 2s infinite ease alternate;
    top: 240px;
    z-index: 0;
    right: 530px;

    img {
      animation: shadow-cup 2s infinite ease alternate;
    }
  }

  // .image__three-frame
  &__three-frame {
    position: absolute;
    animation: shadow 2s infinite ease alternate;
    right: 1px;
    z-index: -1;
  }

  // .image__four-frame
  &__four-frame {
    position: absolute;
    animation: blocks 2s infinite ease alternate;
    right: 1px;
    z-index: 0;
  }

  // .image__five-frame
  &__five-frame {
    position: absolute;
    animation: cup 2s infinite ease alternate;
    right: 1px;
    z-index: 0;
  }

  // .image__six-frame
  &__six-frame {
    position: absolute;
    animation: blocks 2s infinite ease alternate;
    right: 1px;
    z-index: 0;
  }

  &__seven-frame {
    position: absolute;
    animation: blocks 2s infinite ease alternate;
    right: 1px;
    z-index: 0;
  }
}

@keyframes blocks {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes items {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes shadow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes shadow-cup {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes cup {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.ab-us__visibled {
  display: none;
}

// about-us
.about-us {
  // .about-us__row
  overflow: hidden;
  background: #1e0972;
  position: relative;

  &__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px 20px 0px;
  }

  // .about-us__content
  &__content {

    // .about-us__content_title
    &_title {
      margin-bottom: 36px;

      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 100.9%;
        /* or 81px */
        color: #ffffff;
      }
    }

    // .about-us__content_discription
    &_discription {
      max-width: 701.34px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160.9%;
        /* or 29px */
        color: #ffffff;
      }
    }
  }

  // .about-us__image
  &__image {
    &_row {
      position: relative;
    }
  }
}

.image {

  // .image__row
  &__row {

    // .image__row_first
    &_first {
      animation: ab-us1 5s infinite ease alternate;
    }

    // .image__row_second
    &_second {
      top: 0px;
      position: absolute;
      animation: ab-us2 3s infinite ease alternate;
    }

    // .image__row_three
    &_three {
      top: 0px;
      position: absolute;
      animation: ab-us3 5s infinite ease alternate;
    }

    // .image__row_four
    &_four {
      top: 0px;
      position: absolute;
      animation: ab-us4 2s infinite ease alternate;
    }

    // .image__row_five
    &_five {
      top: 0px;
      position: absolute;
      animation: ab-us5 2s infinite ease alternate;
    }
  }
}

@keyframes ab-us1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes ab-us2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes ab-us3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes ab-us4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes ab-us5 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.ellipse-ab-us-one {
  position: absolute;
  left: 0px;
  bottom: 0px;
  animation: buble-one 5s infinite ease alternate;
}

.ellipse-ab-us-two {
  position: absolute;
  right: 0px;
  animation: buble-two 5s infinite ease alternate;
}

@keyframes buble-one {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes buble-two {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}

// about-us finish
.service {
  margin-bottom: 98px;

  // .service__header
  &__button {
    margin-top: 35px;
    text-align: center;

    a {
      display: inline-block;
      border: 1px solid black;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 105px;
      padding: 23px 64px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.05em;
      transition: all 0.3s ease;
      color: black;

      &:hover {
        border: 1px solid black;
        color: white;
        background-color: black;
      }
    }
  }

  &__header {
    // .service__header_title
    margin-top: 87px;
    margin-bottom: 64px;

    &_title {
      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 100.9%;
        /* or 48px */
        color: #000000;
      }
    }
  }

  // .service__cards
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .service__card
  &__card {
    max-width: 400px;
    padding: 32px 25px;
    border: 1px solid #666666;
    border-radius: 25px;
    margin-bottom: 25px;

    /* Тени на карточке */
    &_key {
      display: inline-block;
      background: #ebebeb;
      margin-bottom: 32px;

      p {
        padding: 8px 12px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160.9%;
        /* or 26px */
        color: #000000;
        opacity: 0.8;
      }
    }

    // .service__card_title
    &_title {
      margin-bottom: 16px;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
    }

    // .service__card_discription
    &_discription {
      margin-bottom: 43px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160.9%;
        /* or 26px */
        color: #000000;
        opacity: 0.6;
      }
    }

    // .service__card_price
    &_price {
      margin-bottom: 43px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
    }

    // .service__card_button
    &_button {
      text-align: center;

      a {
        @extend %bluebtn;
      }
    }
  }
}

.visitBG {
  background: url(../image/visitBG.png) center center no-repeat;
}

.lpBG {
  background: url(../image/LPBG.png) center center no-repeat;
}

.mnogoBG {
  background: url(../image/mnogBG.png) center center no-repeat;
}

.seoBG {
  background: url(../image/seoBG.png) center center no-repeat;
}

.tildaBG {
  background: url(../image/tildaBG.png) center center no-repeat;
}

.designBG {
  background: url(../image/designBG.png) center center no-repeat;
}

.works {
  overflow: hidden;
  position: relative;
  background: linear-gradient(324.17deg,
      #6b53fc -7.48%,
      rgba(233, 13, 246, 0.168728) 141.77%,
      rgba(255, 0, 245, 0.0208333) 141.78%);

  &__row {
    display: flex;
    margin-left: -150px;
    margin-top: 100px;

    &_first-column {}

    &_two-column {}
  }

  &__first-card {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-right: 50px;

    h3 {
      max-width: 585px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 100.9%;
      /* or 65px */

      color: #ffffff;
    }
  }

  &__second-card {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  &__card-second {
    position: relative;

    &_content {}

    &_img {}

    &_text {
      display: none;
      position: absolute;
      top: 160px;
      left: 120px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__three-card {
    margin-right: 10px;
  }

  &__card-three {
    &_content {}

    &_img {}

    &_text {
      display: none;
      position: absolute;
      top: 190px;
      left: 190px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__four-card {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  &__card-four {
    &_content {}

    &_img {}

    &_text {
      display: none;
      position: absolute;
      top: 160px;
      left: 160px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__five-card {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  &__card-five {
    &_content {}

    &_img {}

    &_text {
      display: none;
      position: absolute;
      top: 190px;
      left: 80px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__six-card {
    margin-left: 10px;
  }

  &__card-six {
    &_content {}

    &_img {}

    &_text {
      display: none;
      position: absolute;
      top: 140px;
      left: 185px;
      z-index: 5;
      text-align: center;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 100.9%;
        /* or 65px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100.9%;
        /* or 32px */
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 10px;
        border-top: 3px solid white;
      }
    }
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    a {
      display: inline-block;
      border: 1px solid #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 105px;
      padding: 23px 64px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.05em;
      transition: all 0.3s ease;
      color: #ffffff;

      &:hover {
        background-color: white;
        color: #6b53fc;
      }
    }
  }
}

.second-card-blur {
  transition: all 0.3s ease;
}

.item {}

.wworkcard {
  transition: all 0.3s ease;
}

.wworktext {
  transition: all 0.4s ease;
}

.three-card-blur {
  transition: all 0.3s ease;
}

.four-card-blur {
  transition: all 0.3s ease;
}

.five-card-blur {
  transition: all 0.3s ease;
}

.ellipse-portfolio-one {
  position: absolute;
  top: 293px;
  left: -505px;
}

.ellipse-portfolio-two {
  position: absolute;
  top: 843px;
  right: -582px;
}

.ellipse-portfolio-three {
  top: 79px;
  right: 73px;
  position: absolute;
}

.ellipse-portfolio-four {
  position: absolute;
  top: 1252px;
  right: 823px;
}

.ellipse-portfolio-five {
  top: 1736px;
  left: 153px;
  position: absolute;
}

.ellipse-portfolio-six {
  top: 1825px;
  left: 933px;
  position: absolute;
}

.block {
  transition: all 1s ease;
  display: block;
}

.blur {
  filter: blur(3px);
  transition: all 1s ease;
}

.second-card__blur {
  transition: all 1s ease;
}

.first-card__blur {
  transition: all 1s ease;
}

.three-card__blur {
  transition: all 1s ease;
}

.four-card__blur {
  transition: all 1s ease;
}

.five-card__blur {
  transition: all 1s ease;
}

// stages start
.stages {
  background: url(../image/stagesBG.png) no-repeat;

  &__header {
    // .stages__header_title
    margin-top: 96px;

    &_title {
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 100.9%;
        /* or 48px */
        color: #000000;
      }
    }
  }

  &__cards-slider {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
  }

  // .stages__cards
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
  }
}

.stage {

  // .stage__cards
  &__cards {

    // .stage__cards_card
    &_card {
      filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
      position: relative;
      max-width: 700px;
      max-height: 494px;
      padding: 119px 74px 98px 74px;
      background: #833ddb;
      border-radius: 25px;
      margin-bottom: 21px;
    }
  }

  // .stage__card
  &__card {

    // .stage__card_number
    &_number {
      position: absolute;
      top: 0px;
      left: 0px;

      p {
        text-align: center;
        background: #ffffff;
        padding: 20px 51px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100.9%;
        /* or 36px */
        color: #000000;
      }
    }

    // .stage__card_title
    &_title {
      margin-bottom: 48px;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100.9%;
        /* or 36px */
        color: #ffffff;
      }
    }

    // .stage__card_discriptiob
    &_discription {
      p {
        max-width: 531px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 160.4%;
        /* or 42px */
        color: #ffffff;
      }
    }
  }
}

.question {
  padding: 90px 0px;
  overflow: hidden;
  // .question__row
  background: #f6f7fe;

  &__row {
    display: flex;
    align-items: center;

    // .question__row_img
    &_img {}

    // .question__row_form
    &_form {}
  }

  // .question__form
  &__form {

    // .question__form_title
    &_title {
      margin-bottom: 64px;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 100.9%;
        /* or 48px */
        text-align: center;
        color: #000000;
      }
    }

    // .question__form_content
    &_content {
      max-width: 516px;

      form {
        display: flex;
        flex-direction: column;

        input {
          padding: 31px 24px;
          background: #ffffff;
          border: 3px solid #aaaaaa;
          border-radius: 15px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #b6b6b6;
          margin-bottom: 20px;
        }

        button {
          padding: 24px 60px;
          margin: 0 auto;
          @extend %bluebtn;
          border: none;
        }
      }
    }
  }
}

.robots {
  padding: 98px 0px;

  // .robots__row
  &__row {

    // .robots__row_title
    &_title {
      margin-bottom: 24px;

      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120.4%;
        /* or 48px */
        color: #000000;
      }
    }
  }

  // .robots__tow
  &__tow {

    // .robots__tow_text
    &_text {}
  }

  // .robots__text
  &__text {

    // .robots__text_title
    &_title {
      margin-bottom: 24px;

      h4 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 100.9%;
        /* or 36px */
        color: #000000;
      }
    }

    // .robots__text_content
    &_content {
      margin-bottom: 24px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160.9%;
        /* or 32px */
        color: #000000;
      }
    }
  }
}

.links {
  a {
    color: rgba(1, 72, 255, 1);
  }
}

.footer {
  position: relative;
  padding: 49px 0px 48px 0px;
  // .footer__row
  background: #0e153a;

  &__row {
    display: flex;
    flex-direction: column;
    // .footer__row_menu

    &_menu {
      width: 660px;
      display: flex;
      justify-content: space-between;
    }

    // .footer__row_logo

    &_logo {
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;

        color: white;
      }
    }

    // .footer__row_email

    &_email {
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        color: #ffffff;
      }
    }
  }

  // .footer__row_logo
  &_logo {
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      color: white;
    }
  }

  // .footer__row_email
  &_email {
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
    }
  }

  // .footer__content
  &__content {
    display: flex;
    justify-content: space-between;
  }

  // .footer__pk
  &__pk {
    text-align: center;
    margin-top: 56px;

    a {
      display: inline-block;
      padding: 37px 250px 0px 250px;
      border-top: 1px solid #212749;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      opacity: 0.5;
    }
  }
}

.footer-nav {
  width: 415px;
  display: flex;
  justify-content: space-between;

  li {
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
    }
  }
}

.scrollTop {
  position: absolute;
  top: 50px;
  right: 50px;

  img {
    animation: arrow 2s infinite ease alternate;
  }

  &:hover {
    cursor: pointer;
  }
}

@keyframes arrow {
  0% {
    transform: scaleY(-10px);
  }

  100% {
    transform: scaleY(10px);
  }
}

.header__row_burger-btn {
  display: none;
}

.linecb {
  width: 218px;
  height: 0px;
  margin: 20px auto 0 auto;
  border-top: 0.5px solid #000000;
}

.callback {
  display: none;
  z-index: 100;
  visibility: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 496px;
  max-height: 557px;
  padding: 0px 10px;

  background: #ffffff;
  border-radius: 45px;

  label {
    margin-top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
  }

  &__row {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &_header {
      margin: 0 auto;

      h2 {
        margin-top: 56px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;

        color: #000000;
      }
    }

    &_form {
      margin: 0 auto;

      form {
        display: flex;
        flex-direction: column;

        input {
          margin: 7.5px 0px;
          width: 335px;
          background: #FFFFFF;
          border: 3px solid #AAAAAA;
          border-radius: 15px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.05em;
          padding: 12px 15px;
          color: #000000;

          opacity: 0.5;
        }
      }
    }

    &_accept {
      display: flex;
      align-items: center;

      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120.5%;
        /* or 14px */

        letter-spacing: -0.04em;

        color: #000000;
      }
    }
  }
}

.obrabotka {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120.5%;
  /* or 14px */

  letter-spacing: -0.04em;

  color: #000000;
}

.btn-question {
  display: inline-block;
  margin: 24px auto;
  padding: 10px 30px;
  text-align: center;
  background: #5e25c8;
  border-radius: 105px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  border: 0px;
  color: #ffffff;
  transition: 1s background;

  &:hover {
    background: #7644d3;
  }

  &:active {
    background: #5800ff;
  }
}

.custom-checkbox {}

.callback-close {
  a {
    display: flex;
    align-items: center;

    img {
      max-width: 15px;
      margin-left: 10px;
    }

    width: 32px;
    height: 32px;
    top: 25px;
    right: 30px;
    position: absolute;
    border: 0.1px solid #0000006c;
    border-radius: 50%;

    background: #ffffff;
  }
}

.bgcgray {
  display: block;
  top: 0px;
  transition: all 1s ease;
  right: -5000px;

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 70;
  opacity: 0;
  background-color: black;
}

.bgcgray-modal {
  display: block;
  top: 0px;
  transition: all 1s ease;
  right: -5000px;

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 29;
  opacity: 0;
  background-color: black;
}

.visib {
  position: fixed;
  transition: 1s all ease;
  opacity: 0.3;
  top: 0px;
  display: block;
  left: 0px;
}

.popup-vis {
  display: block;
}

.range-cb {
  margin: auto;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: popupopen 0.3s ease;
}

@keyframes popupopen {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0px);
  }

}

// colors
$color1: #5e25c8;
$color2: #898989;

.checkbox {
  margin: 0px 0;

  .checkbox-label {
    position: relative;
    display: block;
    height: 14px;
    width: 40px;
    background: $color2;
    border-radius: 100px;
    cursor: pointer;

    &:after {
      position: absolute;
      left: -2px;
      top: -3px;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background: lighten($color2, 30%);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
      content: "";
    }

    &:active:after {
      transform: scale(1.15, 0.85);
    }
  }

  .checkbox-input {
    display: none;

    &:checked~label {
      background: $color1;

      &:after {
        left: 20px;
        background: darken($color1, 15%);
      }
    }

    &:disabled~label {
      background: lighten($color2, 30%);
      pointer-events: none;

      &:after {
        background: lighten($color2, 20%);
      }
    }
  }
}

.custom-checkbox {

  cursor: pointer;


  .checkbox {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 3px solid #5e25c8;
    margin-right: 10px;
    position: relative;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    height: auto;
    display: none;
  }
}

.custom-checkbox input:checked+.checkbox .checkmark {
  display: block;
}

.hidden-checkbox {
  display: none;
  position: absolute;
}

.custom-checkboxs {
  .checkboxs {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 3px solid #5e25c8;
    margin-right: 10px;
    position: relative;
  }

  .checkmarks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    height: auto;
    display: none;
  }
}

.custom-checkboxs input:checked+.checkboxs .checkmarks {
  display: block;
}

.hidden-checkboxs {
  display: none;
  position: absolute;
}

.rq {
  label {
    margin-top: 10px;
    display: flex;
    align-items: center;

    p {
      margin-left: 10px;
      width: 320px;
    }
  }

  margin-top: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  letter-spacing: -0.04em;

  color: #000000;
}

.none {
  display: none;
}

.custom-radio {
  cursor: pointer;
}

.btn-question-pop {
  margin: 24px auto;
  padding: 10px 30px;
  text-align: center;
  background: #5e25c8;
  border-radius: 105px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  border: 0px;

  background: #d9d9d9;

  color: #5e25c8;
}

.accept {
  margin: 24px auto;
  padding: 10px 30px;
  text-align: center;
  background: #5e25c8;
  border-radius: 105px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05em;
  border: 0px;
  color: #ffffff;
}

.main-links {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.9%;
  /* or 26px */

  color: #000000;

  opacity: 0.6;
}

.main-links__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.9%;
  /* or 26px */

  color: #000000;

  opacity: 0.6;
}

.main-links__links {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.9%;
  /* or 26px */

  color: white;

  opacity: 0.6;
}

.hidden-image {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 10;
  width: 750px;
  height: 600px;

  background-color: black;
}

.hidden-image-two {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 10;
  width: 750px;
  height: 700px;

  background-color: black;
}

.message {
  z-index: 1000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160.9%;
  /* or 26px */
  padding: 10px 0px;
  color: rgb(133, 62, 255);
  top: 0px;
  display: none;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: rgb(238, 231, 231);

  animation: popupopen 0.3s ease;
}

.message-close {
  animation: messageclose 0.3s ease;
}

@keyframes messageclose {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-200px);
  }
}



@media (min-width: 320px) and (max-width: 575px) {
  @import "_320px";
}

@media (min-width: 576px) and (max-width: 772px) {
  @import "_575px";
}

@media (min-width: 773px) and (max-width: 992px) {
  @import "_772px";
}

@media (min-width: 992px) and (max-width: 1465px) {
  @import "_992px";
}

@media (min-width: 1600px) and (max-width: 1800px) {
  @import "_1600px";
}

@media (min-width: 1466px) and (max-width: 1600px) {
  @import "_1400px";
}